<h1> <%= @company.name %> </h1>
<h2> <%= @company.city %>, <%= @company.state %> </h1>
<h3> Contacts </h3>
<ul>
<% for contact in @company.contacts %>
<li> <%= contact.last_name %>, <%= contact.first_name %> </li>
    <% end %>
<p>
    <a href = "/companies">Go back to all companies </a>
</p>
